@charset "UTF-8";
.list_tit {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 14px; }

.radio, .hot-list {
  margin: 0 10px 7px; }
  .radio .list-title, .hot-list .list-title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px; }
  .radio .item-container, .hot-list .item-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
  .radio .item-list, .hot-list .item-list {
    display: inline-block;
    flex: 1;
    flex-basis: 40%;
    padding-left: 4px;
    margin-bottom: 10px;
    width: 50%; }
    .radio .item-list .list-main, .hot-list .item-list .list-main {
      display: block;
      background: #fff;
      text-decoration: none; }
    .radio .item-list:nth-child(odd), .hot-list .item-list:nth-child(odd) {
      padding-right: 4px;
      padding-left: 0; }
    .radio .item-list .list_info, .hot-list .item-list .list_info {
      padding: 0 7px 5px;
      color: #000; }
    .radio .item-list .list-item, .hot-list .item-list .list-item {
      position: relative;
      margin-bottom: 5px; }
      .radio .item-list .list-item img, .hot-list .item-list .list-item img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0; }
      .radio .item-list .list-item::before, .hot-list .item-list .list-item::before {
        content: "";
        display: block;
        padding-top: 100%; }
      .radio .item-list .list-item .icon_play, .hot-list .item-list .list-item .icon_play {
        height: 24px;
        bottom: 5px;
        right: 5px;
        width: 24px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 24px 60px;
        background-image: url("../images/list_sprite.png");
        position: absolute;
        display: block;
        z-index: 1; }

.radio .list_tit {
  height: 36px;
  line-height: 18px;
  white-space: normal;
  word-wrap: break-word; }

.hot-list .list_tit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin: 0;
  line-height: 21px; }
.hot-list .list_text {
  font-size: 12px;
  margin: 0; }

/*
设置变量
*/
/*
重置默认样式
*/
* {
  box-sizing: border-box; }

body {
  margin: 0; }

ul, ol {
  list-style: none; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

#header {
  display: flex;
  align-items: center;
  height: 44px;
  background: #31c27c;
  position: relative; }
  #header #logo {
    height: 25px;
    margin-left: 10px; }
  #header .player-button {
    position: absolute;
    right: 20px;
    width: 55px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: white;
    background: #149c5a;
    border-radius: 999px; }

.slider {
  width: 100%;
  overflow: hidden; }
  .slider .slider-wrap {
    display: flex; }
  .slider .slider-item {
    flex-basis: 100%; }
    .slider .slider-item > a {
      display: block; }
      .slider .slider-item > a img {
        width: 100%; }

.navbar .nav-list {
  display: flex; }
  .navbar .nav-list .nav-item {
    flex: 1;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative; }
    .navbar .nav-list .nav-item.active::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid #31c27c; }
    .navbar .nav-list .nav-item.active {
      color: #31c27c; }

.ranking {
  margin: 10px; }
  .ranking .topic-main {
    background: #fff;
    display: -webkit-box; }
  .ranking .rank-item {
    margin-bottom: 10px;
    overflow: hidden; }
    .ranking .rank-item .topic-info {
      display: block;
      height: 100px;
      -webkit-box-flex: 1;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      position: relative; }
      .ranking .rank-item .topic-info .topic-cont {
        margin: 0 10px 0 15px;
        -webkit-box-flex: 1; }
      .ranking .rank-item .topic-info p, .ranking .rank-item .topic-info .topic-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .ranking .rank-item .topic-info p {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5); }
      .ranking .rank-item .topic-info .text-name {
        color: #000;
        margin-left: 8px;
        margin-right: 5px; }
      .ranking .rank-item .topic-info .topic-title {
        font-size: 16px;
        color: #000;
        font-weight: normal;
        margin-bottom: 5px; }
      .ranking .rank-item .topic-info .topic-arrow {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -4px;
        width: 6px;
        height: 6px;
        border-right: 1px solid #b2b2b2;
        border-bottom: 1px solid #b2b2b2;
        transform: rotate(-45deg); }
    .ranking .rank-item .topic_media {
      width: 100px;
      height: 100px;
      display: block;
      position: relative; }
      .ranking .rank-item .topic_media img {
        width: 100%; }
      .ranking .rank-item .topic_media span {
        position: absolute;
        display: block;
        bottom: 7px;
        text-decoration: none;
        color: #f4f4f4;
        font-size: 9px;
        opacity: 0.6;
        left: 5px;
        line-height: 12px; }
        .ranking .rank-item .topic_media span .icon {
          display: block;
          float: left;
          height: 10px;
          width: 10px;
          background: url("../images/list_sprite.png");
          background-position: 0 -50px;
          background-repeat: no-repeat;
          background-size: 24px 60px;
          margin-right: 3px; }

.serach-box {
  margin: 10px;
  display: -webkit-box; }
  .serach-box div.input {
    padding: 8px 12px 8px 35px;
    position: relative;
    border-radius: 3px;
    background: #fff;
    -webkit-box-flex: 1; }
    .serach-box div.input .search-icon {
      position: absolute;
      background: url("../images/search.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 18px;
      top: 10px;
      left: 8px; }
  .serach-box #search-in {
    width: 100%;
    border: none;
    height: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3); }
    .serach-box #search-in::-webkit-input-placeholder {
      -webkit-text-security: none;
      color: rgba(0, 0, 0, 0.3);
      pointer-events: none; }
    .serach-box #search-in:focus {
      outline: none; }
  .serach-box .cancel {
    display: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    height: 36px;
    line-height: 36px; }

.song-list .song-item {
  position: relative;
  height: 55px;
  padding-left: 56px;
  overflow: hidden;
  background: #fff; }
  .song-list .song-item .song-title, .song-list .song-item singer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .song-list .song-item .music-icon {
    background: url(../images/search_sprite.png);
    background-repeat: no-repeat;
    background-size: 22px 30px;
    width: 22px;
    height: 20px;
    position: absolute;
    top: 18px;
    left: 18px;
    background-position: 0 0; }
  .song-list .song-item .song-title {
    margin: 10px 0 2px;
    line-height: 18px;
    font-size: 16px;
    font-weight: normal;
    color: #000; }
  .song-list .song-item .singer {
    color: #808080;
    font-size: 12px; }
  .song-list .song-item:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: #e5e5e5; }
.song-list .loading {
  margin-top: 3px;
  justify-content: center;
  display: none; }
  .song-list .loading .load-icon {
    display: block;
    background: url("../images/icon_loading.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    animation: round 1s infinite linear; }
  .song-list .loading p {
    color: rgba(0, 0, 0, 0.4);
    padding-left: 5px; }

.nomore {
  display: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.5); }

@keyframes round {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
.lyric {
  width: 100%;
  margin: 36px 0 60px 0;
  overflow: hidden;
  z-index: 3; }
  .lyric .lyrics-wrap {
    width: 100%;
    overflow: hidden;
    transition: all 0.8s; }
    .lyric .lyrics-wrap .lyric-line {
      height: 42px;
      line-height: 42px;
      overflow: hidden;
      padding: 0 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: grey;
      text-align: center; }
    .lyric .lyrics-wrap .active {
      color: #31c27c; }

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-size: cover;
  background-position: bottom center;
  filter: blur(15px);
  transform: scale(1.15); }

.player {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  transform: translateY(-100%); }
  .player .song-info {
    display: -webkit-box;
    position: relative;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 3; }
    .player .song-info .album {
      width: 60px;
      margin-right: 15px;
      overflow: hidden;
      position: relative; }
      .player .song-info .album:after {
        content: "";
        display: block;
        padding-top: 100%; }
      .player .song-info .album img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        background-size: cover; }
    .player .song-info .info {
      -webkit-box-flex: 1;
      margin-top: 4px;
      margin-bottom: 4px; }
      .player .song-info .info .songname {
        font-size: 18px;
        padding-top: 3px;
        padding-bottom: 3px; }
      .player .song-info .info .singer {
        font-size: 14px; }
    .player .song-info .play-icon {
      border: 1px solid white;
      width: 43px;
      height: 43px;
      opacity: .6;
      border-radius: 50%;
      position: absolute;
      right: 25px;
      top: 50%;
      margin-top: -22px; }
      .player .song-info .play-icon::after {
        content: "";
        display: block;
        width: 17px;
        height: 19px;
        margin: 11px 0 0 15px;
        background: url("../images/sprite_play.png");
        background-repeat: no-repeat;
        background-size: 40px 350px; }
    .player .song-info .toplay::after {
      background-position: 0 -150px; }
    .player .song-info .topause::after {
      background-position: 1px -178px; }
  .player .lyric {
    -webkit-box-flex: 1; }
  .player .control {
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    height: 154px;
    width: 100%;
    position: relative; }
    .player .control .play-list {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -40px;
      right: 10px;
      background: url("../images/sprite_play.png");
      background-repeat: no-repeat;
      background-size: 40px 350px;
      background-position: 5px -232px; }
    .player .control .progress {
      position: absolute;
      width: 100%;
      height: 40px;
      top: 20px; }
      .player .control .progress .progress-wrap {
        position: absolute;
        right: 55px;
        left: 55px;
        overflow: hidden;
        height: 40px; }
      .player .control .progress .play-time {
        position: absolute;
        top: 0;
        width: 55px;
        height: 40px;
        text-align: center;
        z-index: 3;
        font: 12px/1.5 "FZLTXIHJW--GB1-0", "hiragino sans gb", "Helvetica Neue", Helvetica, STHeiTi, Arial;
        color: #808080;
        line-height: 40px; }
      .player .control .progress .progress-start {
        left: 0; }
      .player .control .progress .progress-end {
        right: 0; }
    .player .control .progress-box {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 40px; }
      .player .control .progress-box .progress-all {
        position: absolute;
        top: 19px;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        height: 2px;
        z-index: 4; }
      .player .control .progress-box .progress-now {
        position: absolute;
        top: 19px;
        left: 0;
        width: 100%;
        background: #31c27c;
        height: 2px;
        z-index: 4; }
    .player .control .download-btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 65px; }
      .player .control .download-btn a {
        position: relative;
        display: block;
        height: 45px;
        margin: 0 50px;
        padding: 0 55px;
        text-align: center;
        border-radius: 99px;
        background: #31c27c;
        color: white;
        text-decoration: none;
        line-height: 45px;
        font-size: 20px; }
        .player .control .download-btn a::before {
          content: '';
          display: block;
          background: url("../images/sprite_play.png");
          background-repeat: no-repeat;
          background-size: 43px 380px;
          width: 40px;
          height: 40px;
          position: absolute;
          left: 2px;
          background-position: 2px -322px; }

.hide {
  display: none; }

body {
  background: #f4f4f4; }

/*# sourceMappingURL=app.css.map */
